.wrapper {
  display: flex;
  flex-direction: row;
  background-color:grey;
  height:90vh;
  justify-content: center;
  padding:2%;
  /* align-items: center; */
}

.left{
}

.title{
  font-size: x-large;
  color: white;
  font-weight: bold;
  text-align: center;
}

.subt{
  font-size: large;
  color:white;
  text-align: center;
}

.nidarr{
  font-size: xx-large;
  color: white;
  margin: 30px;
}

.boxT{
  display: flex;
  border-radius: 10px;
  border-width: 20px;
  border-color: violet;
  background-color: #464646;
  padding:8%;
  margin:10%;
}

.txt{
  height:200px;
  background-color: #C4C4C4;
}

textarea::placeholder{
  color:black;
}

.btnBox{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:15px;
}