.home2 {
  background-color: #686d75;
  height:90vh;
  justify-content: center;
  align-items: center;
}

.quote {
  font-family: Mansalva;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
  color: #ffffff;
}
